<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TWOTTER</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">FEED</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">LOGIN</a></li>
       <li><a href="#">LOGOUT</a></li>
    </ul>
  </div>
</nav> -->
<h1>TWOTTER</h1>
<form id="add-twote" action="new" method=POST>
	<input type="text" name="name" placeholder="write yo twote">
	<input type="submit" value="TWOTE!">
</form>
<br>
<br>

<ul id="twote-list">
	{{#each twotes}}
	<li><p>{{name}}</p></li>
	{{/each}}
  	<li id="hidden-template-li">
    <p><span class="twote">This is a pretty sweet twote</span></p>
  </li>
</ul>
<br>
