body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

/*Login Page Styling*/

.facebook-button:hover{
  color: white;
  text-decoration: none;
}

.login-background {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: lightblue;
  text-align: center;

  height: 100vh;
  width: 100vw;
}

.login-background h1{
  color: white;
  font-size: 5em;
}

.login-background h3 {
  color: white;
  padding-bottom: 2em;
}

.login-background input {
  height: 3em;
  border-radius: 5px;
}

.login-button {
  margin: 2em;
  width: 30vw;
  color: white;
  background-color: blue;
  font-family: Helvetica;

}

.facebook-button {
  background-color: darkblue;

  color: white;
  margin: 2em;
  width: 30em;
  padding-left: 8vw;
  padding-right: 8vw;
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em; 
  font-family: Helvetica;

  text-decoration: none;

}
/*==================================*/


/*NavBar Style*/

.twotter-title {
  font-size: 40px !important;
}

.button {
    background-color: darkblue;     
    border: none;
    color: lightgrey;
    padding: 8px 24px;   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

/*================*/



.flex-container {
  display: flex;
  width: 100vw;
  height: 92vh;
  flex-flow: row wrap;
  background-color: lightgrey;
  align-content: stretch;
}

header {
  order: 1;
}

#add-twote {
  order: 2;
}

.flex-side{
  order: 3;
}

.flex-list {
  order: 4;
}

.twote-tile{
  background-color: #f4f4f4;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 5px;
}

.twote-title {
  text-align: center;
}

.flex-container > * {
  border-width: 2px;
  border-style: solid;
  border-color: #404040;
  border-radius: 5px;
  box-shadow: 2px 2px 0px #888888;
}

.flex-container li {
  margin: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #404040;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
}





/*templates*/

#hidden-template-li {
  display: none;
}

#hidden-template-user {
  display: none;
}

#hidden-hello {
  visibility: hidden;
}