body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px; 
}

.twote-tile{
  background-color: #f4f4f4;
  padding: 10px;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 5px;
}

.twote-title {
  text-align: center;
  
}

#hidden-template-li {
  display: none;
}

#hidden-template-user {
  display: none;
}

#hidden-hello {
	visibility: hidden;
}

#add-twote {
  display: none;
  order: 2;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

#logout {
  width: 100px;
}

div {
  padding: 3%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  background-color: lightgrey;
}



.flex-container > * {
  padding: 10px;
  margin: 10px;
  /*flex: 1 100%;*/
}

header{
  order: 1;
}

.flex-form {
  order: 2;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.flex-list {
  width: 70%;
  order: 3;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.flex-side{
  width: 20%;
  order: 4;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  justify-content: flex-end;
}
