body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px; 
}

.twote-tile{
  background-color: #f4f4f4;
  padding: 10px;
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 5px;
}

.twote-title {
  text-align: center;
  
}

#hidden-template-li {
  display: none;
}

#hidden-hello {
	visibility: hidden;
}